<!--
  @File Name          : changeRenewalOpportunity.html
  @Description        : 
  @Author             : 
  @Group              : 
  @Last Modified By   : 
  @Last Modified On   : 09-19-2020
  @Modification Log   : 
  Ver       Date            Author      		    Modification
  1.0    4/18/2020        Initial Version
-->
<template>
  <template if:true={showSpinner}>
    <lightning-spinner alternative-text="Loading"></lightning-spinner>
  </template>
  
  <template if:true={showMessageNotification}>
    <div class="slds-notify_container">
      <div class={mainDivClass} role="status">
        <span class="slds-assistive-text">{variant}</span>
        <span class={messageDivClass} title={messageTitle}>
          <lightning-icon icon-name={iconName} size="small" variant="inverse"></lightning-icon>
        </span>
        <div class="slds-notify__content">
          <h2 class="slds-text-heading_small ">{message}</h2>
        </div>
        <div class="slds-notify__close">
          <button class="slds-button slds-button_icon slds-button_icon-inverse" title="Close"
            onclick={redirectToContract}>
            <lightning-icon icon-name="utility:close" size="small" variant="inverse"> </lightning-icon>
            <span class="slds-assistive-text">Close</span>
          </button>
        </div>
      </div>
    </div>
  </template>

  <div class="slds-page-header slds-page-header_record-home slds-theme_shade">
    <div class="slds-page-header__row">
      <div class="slds-page-header__col-title">
        <div class="slds-media">
          <div class="slds-media__figure">
            <div class="slds-icon slds-page-header__icon" aria-hidden="true">
              <lightning-icon icon-name="standard:contract" size="medium" alternative-text="Ordway Contract">
              </lightning-icon>
            </div>
          </div>
          <div class="slds-media__body">
            <div class="slds-page-header__name">
              <div class="slds-page-header__name-title">
                <h1>
                  <span>Ordway Contract</span>
                  <span class="slds-page-header__title slds-truncate" title="Contract Name">{ordwayContractName}</span>
                </h1>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="slds-page-header__col-actions">
        <div class="slds-page-header__controls">
          <div class="slds-page-header__control">
            <ul class="slds-button-group-list">
              <li>
                <button class="slds-button slds-button_neutral" onclick={handleCancel}>Cancel</button>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="slds-box" style="margin-top: 0.5em; background-color: white;">
  <template if:true={showRadioOption}>
    <div class="slds-grid slds-grid_vertical slds-align_absolute-center">
      <div class="slds-col slds-p-vertical_x-small slds-text-heading_medium">
        <b>Create a Change or Renewal Opportunity</b>
      </div>
      <div class="slds-col slds-p-vertical_x-small">
        <lightning-radio-group name="changeRenewalRadioGroup" label="Change Renewal Opportunity"
          options={changeRenewalOptions} value={changeRenewalSelectedValue} variant="label-hidden"
          onchange={handleOpportunityTypeChange} type="radio"></lightning-radio-group>
      </div>
      <template if:true={showExistingOpenOpp}>
        <div class="slds-col slds-p-vertical_x-small">
          Select an open {selectedOpportunityType} or create a new one.

          <lightning-combobox class="slds-p-vertical_x-small" name="selectedOpenOpportunity"
            label="Open Opportunities" variant="label-hidden" value={selectedOpenOpportunity}
            placeholder={selectOptionPlaceHolder} options={openOpportunityOptions}
            onchange={handleOpenOpportunitySelect}></lightning-combobox>

        </div>
      </template>
      <div class="slds-col slds-p-vertical_x-small">
        <template if:true={showExistingOpenOpp}>
          <lightning-button variant="brand" label="Continue" title="Continue" onclick={handleContinue} disabled={isContinueDisabled} class="slds-m-left_x-small"></lightning-button>
        </template>
        <template if:true={showContinue}>
          <lightning-button label="Create New &amp; Continue" title="Create New &amp; Continue" class="slds-m-left_x-small"
          onclick={handleCreateNewContinue} variant="brand"></lightning-button>
        </template>
      </div>
    </div>
  </template>
  </div>
</template>