.THIS .customTableHeader {
  background-color: #dddbdb;
  border-color: #dddbdb;
  color: #514f52;
}

/* .THIS .slds-icon-text-default {
  fill: #ffffff;
} */

.THIS .slds-input {
  margin-top: 5px;
  margin-bottom: 5px;
  width: 100%;
  text-align: center;
}

.THIS .slds-spinner_container {
  background-color: rgba(148, 145, 145, 0.1);
  margin-top: 200px;
  margin-bottom: 200px;
}

.THIS .cursorPointer .slds-checkbox_faux {
  cursor: pointer;
}

.THIS .customInputTextAlign .slds-input {
  text-align: start !important;
}

.THIS .cursorPointer .slds-icon_container {
  cursor: pointer;
}

.THIS .modalFieldLabel {
  font-size: 14px;
  color: #333333;
  line-height: 16px;
  font-weight: bold;
}

.THIS .modalFieldValue {
  font-size: 14px;
  color: #333333;
  line-height: 16px;
  text-align: right;
  overflow-wrap: break-word;
}

.THIS .customModalclass.slds-modal__container {
  width: 840px !important;
  height: 566px !important;
}

.THIS lightning-icon.customSortArrow>lightning-primitive-icon>svg>use {
  fill: #706e6b;
  cursor: pointer;
}

.THIS .viewPlansClass {
  text-decoration: underline;
  cursor: pointer;
}

/* DatePicker inside table css fix */
.THIS .slds-datepicker table {
  table-layout: fixed;
  width: 300px;
}

.THIS .slds-datepicker .slds-day {
  width: auto !important;
  min-width: auto !important;
  height: auto !important;
  line-height: inherit !important;
}

.THIS .cTable.slds-table_fixed-layout tbody {
  transform: none !important;
}

.THIS .deleteIconCustom.slds-icon-utility-delete {
  fill: red !important;
}

.THIS .slds-modal__container {
  width: 75% !important;
  max-width: 75% !important;
} 

.THIS .deleteicon {
  color: red;
}