<!--
  @File Name          : getOrdwayObjectComponent.html
  @Description        : 
  @Author             : 
  @Group              : 
  @Last Modified By   : 
  @Last Modified On   : 04-29-2021
  @Modification Log   : 
  Ver       Date            Author      		    Modification
  1.0    6/15/2020        Initial Version
-->
<template>

  <template if:true={showSpinner}>
    <lightning-spinner alternative-text="Loading" variant="Brand" title="Loading"></lightning-spinner>
  </template>

  
  <div class="slds-align_absolute-center" style="width: 90%;">
    <article class="customArticle slds-card slds-card_boundary">
    <div class="slds-card__header slds-grid">
      <header class="slds-media slds-media_center slds-has-flexi-truncate">
        <div class="iconContainer orangeColor slds-media__figure">
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 52 52" id="sync"><path d="M47.9 29.3c0-.8-.7-1.5-1.5-1.5h-3.5c-.8 0-1.4.6-1.4 1.4 0 .2 0 .5-.1.7-.3 1.3-.8 2.5-1.5 3.7-2.8 4.9-7.7 7.6-12.9 7.6-4 0-7.8-1.6-10.6-4.4-.5-.4-.9-.9-1.2-1.4-.3-.8.4-1.2 1.3-1.2h7c.8 0 1.5-.7 1.5-1.5v-3.1c0-.8-.6-1.4-1.4-1.4H5.3c-.7 0-1.3.6-1.3 1.3v18.2c.1.8.8 1.5 1.6 1.5h3c.8 0 1.5-.7 1.5-1.5v-7c0-.9.5-1.3 1.2-.7.3.4.6.7 1 1 5 5 12 7.1 19.2 5.7 2.5-.5 4.9-1.5 7-2.9 5.2-3.4 8.5-8.6 9.4-14.3v-.2zM4.1 22.7c0 .8.7 1.5 1.5 1.5h3.5c.8 0 1.4-.6 1.4-1.4 0-.2 0-.5.1-.7.3-1.3.8-2.5 1.5-3.7 2.8-4.9 7.7-7.6 12.9-7.6 4 0 7.8 1.6 10.6 4.4.5.4.9.9 1.2 1.4.3.8-.4 1.2-1.3 1.2h-7c-.8 0-1.5.7-1.5 1.5v3.1c0 .8.6 1.4 1.4 1.4h18.3c.7 0 1.3-.6 1.3-1.3V4.3c-.1-.8-.8-1.5-1.6-1.5h-3c-.8 0-1.5.7-1.5 1.5v7c0 .9-.5 1.3-1.2.7-.3-.4-.6-.7-1-1-5-5-12-7.1-19.2-5.7-2.5.5-4.9 1.5-7 2.9-5.2 3.4-8.5 8.6-9.4 14.3v.2z"></path></svg>
        </div>
        <div class="slds-media__body">
          <h2 class="slds-card__header-title">
            <span style="font-weight: bold;">On Demand</span>
          </h2>
        </div>
      </header>
    </div>

    <div class="slds-box slds-align_absolute-center slds-theme_shade slds-theme_alert-texture" style="width: 85%;">
      <p> If webhook functionality is not enabled in Ordway, objects should be synced in sequential order as presented in the drop down list to maintain the relationship between related objects. Monitor the status of the jobs in <a href="/lightning/setup/AsyncApexJobs/home" target="_blank">Apex Jobs</a></p>
    </div>
    <br/>
    <div class="slds-align_absolute-center" style="width: 70%;">
    <div class="slds-grid slds-gutters">
      <template if:true={showEntities}>
        <div class="slds-col">
        <span>
          <lightning-combobox
                  name="ordwayEntity"
                  label="Entity"
                  value={selectedOrdwayEntity}
                  placeholder="Select Entity"
                  options={ordwayEntities}
                  dropdown-alignment="auto"
                  onchange={handleChange} >
          </lightning-combobox>
        </span>
        </div>
      </template>
      <div class="slds-col">
        <span>
          <lightning-combobox
                  name="objectName"
                  label="Object"
                  placeholder="Select Object"
                  options={objectOptions}
                  dropdown-alignment="auto"
                  onchange={handleChange} >
          </lightning-combobox>
        </span>
      </div>
      <template if:false={hideFilter}>
      <div class="slds-col">
        <span>
          <lightning-combobox
                  name="filter"
                  label="Filters"
                  value={filter}
                  placeholder="Select Filter"
                  options={filterOptions}
                  dropdown-alignment="auto"
                  onchange={handleChange} >
          </lightning-combobox>
        </span>
      </div>
    </template>   
      <template if:false={hideDateFields}>
      <div class="slds-col">
        <span>
          <lightning-input type="date" date-style="short" class="formDate" name="fromDate" value={fromDate} label="From Date" disabled={disableDates} onchange={handleChange} ></lightning-input>
        </span>
      </div>
      <div class="slds-col">
        <span>
        <lightning-input type="date" date-style="short" name="toDate" label="To Date" value={toDate} disabled={disableDates} onchange={handleChange} ></lightning-input>
        </span>
      </div>
    </template>
    <template if:false={hideAllFilters}>
    <template if:true={hideDateFields}>
      <template if:true={showStatus}>
        <lightning-combobox
                    name="status"
                    label="Status"
                    value={}
                    options={statusOptions}
                    onchange={handleStatusChange} ></lightning-combobox>    </template>
      <template if:false={showStatus}>          
      <lightning-input type="text" name="customerId" label="Value" value={filterValue} onchange={handleChange}></lightning-input></template>
    </template>
  </template>
    
    </div>
  </div>
  <template if:true={showContractCheckbox}>
  <div class="slds-p-top_small slds-align_absolute-center">
        <lightning-input type="checkbox" label="Include records already linked in Salesforce" 
          field-level-help="When this option is enabled, the bulk sync will include Ordway contract records that are already linked in Salesforce with a Salesforce ID." 
          data-id="contractCheckbox"
          onchange={onChecboxChange} > </lightning-input>
  </div>
  </template>
    <div class="slds-align_absolute-center slds-p-around_medium">
      <lightning-button variant="brand"  label="Sync from Ordway" title="Refresh" disabled={disableRefresh} onclick={handleRefresh} ></lightning-button>
    </div>
  </article>
</div>

<div class="slds-p-top_small slds-p-bottom_xx-large slds-align_absolute-center" style="width: 90%;padding-bottom: 10%;">
  <article class="customArticle slds-card slds-card_boundary slds-p-top_small"> 
  <div class="slds-card__header slds-grid">
    <header class="slds-media slds-media_center slds-has-flexi-truncate">
      <div class="iconContainer orangeColor slds-media__figure">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 52 52" id="sync1"><path d="M47.9 29.3c0-.8-.7-1.5-1.5-1.5h-3.5c-.8 0-1.4.6-1.4 1.4 0 .2 0 .5-.1.7-.3 1.3-.8 2.5-1.5 3.7-2.8 4.9-7.7 7.6-12.9 7.6-4 0-7.8-1.6-10.6-4.4-.5-.4-.9-.9-1.2-1.4-.3-.8.4-1.2 1.3-1.2h7c.8 0 1.5-.7 1.5-1.5v-3.1c0-.8-.6-1.4-1.4-1.4H5.3c-.7 0-1.3.6-1.3 1.3v18.2c.1.8.8 1.5 1.6 1.5h3c.8 0 1.5-.7 1.5-1.5v-7c0-.9.5-1.3 1.2-.7.3.4.6.7 1 1 5 5 12 7.1 19.2 5.7 2.5-.5 4.9-1.5 7-2.9 5.2-3.4 8.5-8.6 9.4-14.3v-.2zM4.1 22.7c0 .8.7 1.5 1.5 1.5h3.5c.8 0 1.4-.6 1.4-1.4 0-.2 0-.5.1-.7.3-1.3.8-2.5 1.5-3.7 2.8-4.9 7.7-7.6 12.9-7.6 4 0 7.8 1.6 10.6 4.4.5.4.9.9 1.2 1.4.3.8-.4 1.2-1.3 1.2h-7c-.8 0-1.5.7-1.5 1.5v3.1c0 .8.6 1.4 1.4 1.4h18.3c.7 0 1.3-.6 1.3-1.3V4.3c-.1-.8-.8-1.5-1.6-1.5h-3c-.8 0-1.5.7-1.5 1.5v7c0 .9-.5 1.3-1.2.7-.3-.4-.6-.7-1-1-5-5-12-7.1-19.2-5.7-2.5.5-4.9 1.5-7 2.9-5.2 3.4-8.5 8.6-9.4 14.3v.2z"></path></svg>
      </div>
      <div class="slds-media__body">
        <h2 class="slds-card__header-title">
          <span style="font-weight: bold;">Scheduled</span>
        </h2>
      </div>
    </header>
  </div>

  <div class="slds-align_absolute-center" style="width: 90%; padding-bottom: 2%;">
    <div class="slds-grid slds-gutters">
      <template if:true={showEntities}>
        <div class="slds-col">
        <span>
          <lightning-combobox

                  name="ordwayEntityAuto"
                  label="Entity"
                  class="bulkSyncInputField"
                  value={selectedOrdwayEntityAuto}
                  placeholder="Select Entity"
                  options={ordwayEntities}
                  dropdown-alignment="auto"
                  onchange={handleAutoSectionChanges} required>
          </lightning-combobox>
        </span>
        </div>
      </template>
      <div class="slds-col">
        <span>
          <lightning-combobox
                  name="objectNameAuto"
                  class="bulkSyncInputField"
                  label="Object"
                  value={objectNameAuto}
                  placeholder="Select Object"
                  options={objectOptionsAuto}
                  dropdown-alignment="auto"
                  onchange={handleAutoSectionChanges} required>
          </lightning-combobox>
        </span>
      </div>
      <div class="slds-col">
        <span>
          <lightning-combobox
                  name="criteriaAuto"
                  class="bulkSyncInputField"
                  label="Criteria"
                  value={criteriaAuto}
                  placeholder="Select Criteria"
                  options={criteriaOptions}
                  dropdown-alignment="auto"
                  onchange={handleAutoSectionChanges} required>
          </lightning-combobox>
        </span>
      </div>
      <template if:true={showNInput}>
        <div class="slds-col">
          <lightning-input type="Number" class="bulkSyncInputField" min="1" 
          name="NInput" label="Enter N Value" value={nValue} onchange={handleAutoSectionChanges}  
          message-when-range-underflow="Should be greater than 1" required></lightning-input>
        </div>
      </template>
      <span class="slds-m-top_large">
      <lightning-button variant="brand" label="Add" title="Add" disabled={disableAdd} onclick={handleValidateInput}></lightning-button>
    </span>    
  </div>
  </div>
    
  <template if:true={showSelected}> 
    <div class="slds-p-top_small slds-p-bottom_medium slds-align_absolute-center" style="width: 80%;padding-left:10%;">
    <table class="slds-table slds-table_cell-buffer slds-no-row-hover slds-table--fixed-layout slds-table_bordered" role="grid">
      <thead>
        <tr class="slds-line-height_reset slds-text-title_caps">
          <template if:true={showEntities}>
          <th scope="col">
            <div
              class="slds-grid slds-grid--align-center slds-grid--vertical-align-center slds-has-flexi-truncate slds-p-around--x-small"
              title="Entity">Entity</div>
          </th>
          </template>
          <th scope="col">
            <div
              class="slds-grid slds-grid--align-center slds-grid--vertical-align-center slds-has-flexi-truncate slds-p-around--x-small"
              title="Object">Object</div>
          </th>
          <th scope="col">
            <div
              class="slds-grid slds-grid--align-center slds-grid--vertical-align-center slds-has-flexi-truncate slds-p-around--x-small"
              title="Field">Updated Date(Last N Days)</div>
          </th>
          <th scope="col" style="width: 5%;">
          </th>
        </tr>
      </thead>
      <tbody>
        <template for:each={bulkSyncConfiguration} for:item="thisBulkSyncRecord" for:index="indexVar">
          <tr key={thisBulkSyncRecord.Id}>
            <template if:true={showEntities}>
              <td data-fieldname="OrdwayLabs__Entity__c"  style="text-align: center;" data-indexvar={indexVar}>
                <lightning-formatted-text value={thisBulkSyncRecord.OrdwayLabs__Entity__c} ></lightning-formatted-text>
              </td>
            </template>
          <td style="text-align: center;" data-indexvar={indexVar} data-fieldname="OrdwayLabs__Object__c">
            <lightning-formatted-text value={thisBulkSyncRecord.OrdwayLabs__ObjectLabel__c} ></lightning-formatted-text>
          </td>
          <td style="text-align: center;" data-indexvar={indexVar} data-fieldname="OrdwayLabs__Filter__c">
            <lightning-formatted-text value={thisBulkSyncRecord.OrdwayLabs__Filter__c} ></lightning-formatted-text>
          </td>
          <td style="text-align: center;" data-indexvar={indexVar}>
            <lightning-formatted-text  ></lightning-formatted-text>
          </td>
          <td style={tdStyle}>
            <lightning-icon 
              icon-name="utility:close" 
              data-indexvar={indexVar} 
              onclick ={handleDelete} 
              size ="xx-small"
              alternative-text="Delete" 
              title="Delete"
              style="cursor: pointer;">
            </lightning-icon>
          </td>
          </tr>
          </template>
          </tbody>
          </table>
    </div>
  </template>
      </article>
    </div>

    <div class="slds-p-top_small slds-p-bottom_xx-large slds-align_absolute-center" style="width: 90%;padding-bottom: 10%;">
      <article class="customArticle slds-card slds-card_boundary slds-p-top_small">
        <c-batch-query-configurator></c-batch-query-configurator>
      </article>
    </div>
</template>