<template>
  <td style="width: 5%;" class="slds-align_absolute-center">
    <lightning-formatted-number value={configurationRow.sn}></lightning-formatted-number>
  </td>
  <td style={fieldStyle}>
    <div class="slds-combobox_container">
        <lightning-combobox
          name="fn"
          label="Field"
          data-inputname="fn"
          data-id="rulecriteriafields"
          variant="label-hidden"
          value={configurationRow.fn}
          placeholder="Select Field"
          dropdown-alignment="auto"
          onchange={handleInputChange}
          options={fieldsOptions}>
          </lightning-combobox>
    </div>
  </td>
  <td style={operatorStyle}>
    <div>
      <lightning-combobox
          name="op"
          label="Operator"
          data-inputname="op"
          data-id="rulecriteriafields"
          variant="label-hidden"
          value={configurationRow.op}
          placeholder="Select Operator"
          dropdown-alignment="auto"
          onchange={handleInputChange}
          options={operations}>
          </lightning-combobox>
    </div>
  </td>
  <td style={valueStyle}>
    <div>
      <template if:true={isDateFieldType}>

        <div class="slds-grid slds-grid_pull-padded-medium">
          <div class={dateLiteralGridClass}>
            <span>
              <lightning-combobox
                name="dateliteral"
                label="Date Literal"
                data-inputname="dateliteral"
                data-id="rulecriteriafields"
                variant="label-hidden"
                value={selectedDateLiteral}
                placeholder="Select Date literal"
                dropdown-alignment="auto"
                onchange={handleDateLiteralChange}
                options={DATE_LITERALS}>
            </lightning-combobox>
            </span>
          </div>
          <template if:true={doesDateLiteralRequiredNValue}>
            <div class="slds-col slds-size_1-of-2 slds-p-horizontal_x-small">
              <span>
                <lightning-input
                  type="number"
                  value={dateLiteralNValue}
                  data-inputname="dateLiteralNValue"
                  name="Date Literal N Value"
                  variant="label-hidden"
                  data-id="rulecriteriafields"
                  placeholder="Enter N value"
                  onchange={handleDateLiteralNValueChange}
                  label="N value" ></lightning-input>
              </span>
            </div>
          </template>
        </div>
      </template>
      <template if:false={isDateFieldType}>
        <lightning-input
        type="text"
        data-id="rulecriteriafields"
        name="val"
        variant="label-hidden"
        data-inputname="val"
        onchange={handleInputChange}
        value={configurationRow.val}
        label="Enter value"></lightning-input>
      </template>
    </div>
  </td>
  <td style={deleteStyle}>
    <div>
      <lightning-icon
        size="x-small"
        onclick={handleDelete}
        icon-name="utility:delete"
        alternative-text="Delete rule"
        variant="error"
        style="cursor: pointer;"
        title="Delete rule">
      </lightning-icon>
    </div>
  </td>
</template>