<!--
  @File Name          : ordwayContractFieldComparison.html
  @Description        : 
  @Author             : 
  @Group              : 
  @Last Modified By   : 
  @Last Modified On   : 5/30/2020, 11:40:03 AM
  @Modification Log   : 
  Ver       Date            Author      		    Modification
  1.0    3/25/2020        Initial Version
-->
<template>
  <template if:true={showSpinner}>
    <lightning-spinner alternative-text="Loading"  variant="Brand" title="Loading"></lightning-spinner>
  </template>

  <template if:true={showMessageNotification}>
    <div class="slds-notify_container">
        <div class={mainDivClass} role="status">
            <span class="slds-assistive-text">{variant}</span>
            <span class={messageDivClass} title={messageTitle}>
              <lightning-icon icon-name={iconName} size="small" variant="inverse"></lightning-icon>
            </span>
            <div class="slds-notify__content">
               <h1 class="slds-text-heading_medium">{messageTitle}</h1>
              <h2 class="slds-text-heading_small ">{message}</h2>
            </div>
            <div class="slds-notify__close">
                <button class="slds-button slds-button_icon slds-button_icon-inverse" title="Close" onclick={redirectToParentRecord}>
                    <lightning-icon icon-name="utility:close" size="small" variant="inverse"> </lightning-icon>
                    <span class="slds-assistive-text">Close</span>
                </button>
            </div> 
        </div>
    </div>
</template>

  <div class="slds-page-header slds-page-header_record-home">
    <div class="slds-page-header__row">
      <div class="slds-page-header__col-title">
        <div class="slds-media">
          <div class="slds-media__figure">
            <lightning-icon icon-name={headerIcon} size="medium" alternative-text="Ordway Contract">
            </lightning-icon>
          </div>
          <div class="slds-media__body">
            <div class="slds-page-header__name">
              <div class="slds-page-header__name-title">
                <h1>
                  <span>{firstTab}</span>
                  <span class="slds-page-header__title slds-truncate" title="Record Name">{functionTitle}</span>
                </h1>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="slds-page-header__col-actions">
        <div class="slds-page-header__controls">
          <div class="slds-page-header__control">
            <ul class="slds-button-group-list">
              <li>
                <button class="slds-button slds-button_neutral" onclick={handleCancel} disabled={disableButtons}>Cancel</button>
              </li>
              <li>
                <button class="slds-button slds-button_neutral" onclick={handleConfirm} disabled={disableConfirmButton}>Confirm</button>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <br />
    <lightning-tabset variant="scoped">
      <lightning-tab label={firstTab}>
        <template for:each={parentRecordMap} for:item="keyValue">
          <c-field-diff-record item={keyValue} icon={firstTabIcon} key={keyValue.key}></c-field-diff-record>
        </template>
      </lightning-tab>
      <lightning-tab label={secondTab}>
        <template for:each={childRecordMap} for:item="keyValue">
          <c-field-diff-record
            is-second-tab="true"
            new-plan-picker={newPlanPicker}
            salesforce-line-item-to-tier-map={salesforceLineItemToTierMap}
            ordway-line-item-to-tier-string-map={ordwayLineItemToTierStringMap}
            item={keyValue} icon={secondTabIcon} key={keyValue.key}>
          </c-field-diff-record>
        </template>
      </lightning-tab>
    </lightning-tabset>
  </div>
</template>