<!--
  @File Name          : fieldDiffRecord.html
  @Description        : 
  @Author             : 
  @Group              : 
  @Last Modified By   : Ordway Labs
  @Last Modified On   : 10-14-2020
  @Modification Log   : 
  Ver       Date            Author      		    Modification
  1.0    3/25/2020        Initial Version
-->
<template>
  <div class="slds-page-header" key={item.key}>
    <div class="slds-page-header__row">
      <div class="slds-page-header__col-title">
        <div class="slds-media">
          <div class="slds-media__figure">
            <lightning-icon icon-name={icon} size="medium"
              alternative-text="Opportunities">
            </lightning-icon>
          </div>
          <div class="slds-media__body">
            <div class="slds-page-header__name">
              <div class="slds-page-header__name-title">
                <h1>
                  <span>Salesforce - Ordway</span>
                  <span class="slds-page-header__title slds-truncate" title="Recently Viewed">{item.key}</span>
                </h1>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <br />

    <table class="slds-table slds-table_cell-buffer slds-table_bordered" key={item.key}>
      <thead>
        <tr class="slds-line-height_reset">
          <th class="" scope="col" style="width: 20%;">
            <div class="slds-truncate" title="Fields"></div>
          </th>
          <th class="" scope="col">
            <div class="slds-truncate" title="Salesforce">Salesforce</div>
          </th>
          <th class="" scope="col">
            <div class="slds-truncate" title="Ordway">Ordway</div>
          </th>
        </tr>
      </thead>
      <tbody>
        <template for:each={item.value} for:item='eachItem'>
          <tr class="slds-hint-parent" key={eachItem.fieldAPIName}>
            <td style="max-width:20%;" class ="slds-cell-wrap" data-label="" scope="row" >
              
              <c-field-diff-row field-data={eachItem.fieldLabel} row-data={eachItem}></c-field-diff-row>
            </td>
            <td class ="slds-cell-wrap" data-label="Salesforce">
                <c-field-diff-row field-data={eachItem.fieldValueSalesforce} row-data={eachItem}></c-field-diff-row>
            </td>
            <td class ="slds-cell-wrap" data-label="Ordway">
              <c-field-diff-row field-data={eachItem.fieldValueOrdway} row-data={eachItem}></c-field-diff-row>
            </td>
          </tr>
        </template>
      </tbody>
    </table>
    <template if:true={showTierComparison}>
      <div class="slds-p-vertical_x-small">
      <div class="slds-theme_default slds-p-around_xx-small">
        <c-tier-comparison
          key={item.key}
          record-id={item.recordId}
          salesforce-line-item-to-tier-map={salesforceLineItemToTierMap}
          ordway-line-item-to-tier-string-map={ordwayLineItemToTierStringMap}></c-tier-comparison>
      </div>
      </div>
    </template>
  </div>
  <br key={item.key} />
</template>