<!--
  @description       : 
  @author            : 
  @group             : 
  @last modified on  : 04-30-2021
  @last modified by  : 
  Modifications Log 
  Ver   Date         Author   Modification
  1.0   07-31-2020      Initial Version
-->
<template>
  <template if:true={showSpinner}>
    <lightning-spinner alternative-text="Loading" variant="Brand" title="Loading"></lightning-spinner>
  </template>

  <template if:false={isMultiEntityEnabled}>
    <div class="slds-box slds-align_absolute-center slds-theme_shade slds-theme_alert-texture" style="width: 70%;">
      <p> Please Enable Multi-Entity Ordway Structure. Ordway -> Setup -> General Settings -> Multi-Entity Organization Structure</p>
    </div>
  </template>

  <template if:true={isMultiEntityEnabled}>
    <div class="slds-p-top_small slds-align_absolute-center" style="width: 75%;">

      <template if:true={ordwayEntitySettingRecords}>

        <article class="slds-card slds-card_boundary">
          <div class="slds-card__header slds-grid">
            <header class="slds-media slds-media_center slds-has-flexi-truncate">
              <div class="slds-media__figure">
                <lightning-icon icon-name="standard:entity"></lightning-icon>
              </div>
              <div class="slds-media__body">
                <h2 class="slds-card__header-title">
                  <span style="font-weight: bold;">{lightningCardName}</span>

                </h2>
              </div>
              <div class="slds-no-flex">
                <lightning-button label="Add Entity" title="Add New Entity" onclick={handleNewEntity}>
                </lightning-button>
              </div>
            </header>
          </div>
          <div class="slds-card__body">
            <table class="slds-table slds-table_cell-buffer slds-no-row-hover slds-table--fixed-layout" role="grid">
              <thead>
                <tr class="slds-line-height_reset slds-text-title_caps">
                  <th scope="col">
                    <div
                      class="slds-grid slds-grid--align-center slds-grid--vertical-align-center slds-has-flexi-truncate slds-p-around--x-small"
                      title="Entity Name">Entity Name</div>
                  </th>
                  <th scope="col">
                    <div
                      class="slds-grid slds-grid--align-center slds-grid--vertical-align-center slds-has-flexi-truncate slds-p-around--x-small"
                      title="Entity Id">Entity Id</div>
                  </th>
                  <th scope="col" style="width: 10%;">
                    <div
                      class="slds-grid slds-grid--align-center slds-grid--vertical-align-center slds-has-flexi-truncate slds-p-around--x-small"
                      title="Parent">Parent</div>
                  </th>
                  <th scope="col" style="width: 5%;">
                  </th>
                </tr>
              </thead>
              <tbody>
                <template for:each={ordwayEntitySettingRecords} for:item="thisEntitySetting" for:index="indexVar">
                  <tr key={thisEntitySetting.Id}>
                    <td>
                      <lightning-input type="text" label="Entity Name" class="entityinputField" data-indexvar={indexVar}
                        data-fieldname="Name" variant="label-hidden" value={thisEntitySetting.Name}
                        onchange={handleInputValueChange} required></lightning-input>
                    </td>
                    <td>
                      <lightning-input type="text" label="Entity Id" class="entityinputField" data-indexvar={indexVar}
                        data-fieldname="OrdwayLabs__EntityID__c" variant="label-hidden"
                        value={thisEntitySetting.OrdwayLabs__EntityID__c} onchange={handleInputValueChange}
                        maxlength="10" required></lightning-input>
                    </td>
                    <td style="text-align: center;">
                      <lightning-input type="checkbox" label="Parent" class="slds-align_absolute-center" data-indexvar={indexVar}
                        data-fieldname="OrdwayLabs__Default__c" variant="label-hidden"
                        checked={thisEntitySetting.OrdwayLabs__Default__c} onchange={handleCheckboxChange}></lightning-input>
                    </td>
                    <td>
                      <lightning-icon icon-name="utility:close" data-indexvar={indexVar} size="xx-small"
                        onclick={handleDelete} alternative-text="Delete Entity Setting" title="Delete Entity Setting"
                        style="cursor: pointer;"></lightning-icon>
                    </td>
                  </tr>
                </template>
              </tbody>
            </table>

          </div>
          <footer class="slds-card__footer">
              <lightning-button variant="brand" label="Save" title="Save" onclick={handleValidateInput}
                class="slds-m-left_x-small"></lightning-button>
          </footer>
        </article>
      </template>
    </div>
  </template>

  <template if:true={isMultiEntityEnabled}>
    <div class="slds-p-top_xx-large">
      <c-ordway-entity-rule-configuration deleted-entity-ids={deletedEntityIds}></c-ordway-entity-rule-configuration>
    </div>
  </template>
</template>