<template>

  <template if:true={showSpinner}>
    <lightning-spinner alternative-text="Loading" variant="Brand" title="Loading"></lightning-spinner>
 </template>
  <div class="slds-card slds-card_boundary slds-grid slds-grid--vertical" style="min-height:100%;min-width:100%;display:flex;position:absolute;">
      <div class="slds-page-header--object-home slds-theme_shade slds-page-header_joined slds-page-header_bleed slds-page-header slds-shrink-none">
      <div class="slds-grid">
    <div class="slds-col slds-has-flexi-truncate">
      <div class="slds-media slds-no-space slds-grow">
        <div class="slds-media__body slds-align-middle">
          <nav role="navigation" aria-label="Breadcrumbs">
            <ol class="slds-breadcrumb slds-list--horizontal slds-wrap">
              <li class="slds-breadcrumb__item slds-line-height--reset">
                <a title="" href="javascript:void(0);" onclick={navigateToRecordPage}>
                  <span>{objectLabel}</span>
                </a>
              </li>
              <li class="slds-breadcrumb__item slds-line-height--reset">
                <a title=""  href="javascript:void(0);" onclick={navigateToRecordPage}>
                  <span >{parentRecordName}</span>
                </a>
              </li>
            </ol>
          </nav>
          <h1 class="slds-page-header__title listViewTitle slds-truncate" title="">{childObjectLabel}</h1>
        </div>
      </div>
    </div>
    </div>
    </div>
<template if:true={showTier}>
    <template if:true={hasTiers}>
    <table class="slds-table slds-p-around_xx-small slds-table_cell-buffer slds-table_bordered slds-table_col-bordered slds-table_striped"
    style="table-layout:fixed;">
    <thead>
      <tr class="slds-line-height_reset">
        <th width="5%" scope="col">
          <div class="slds-text-align_center slds-truncate slds-p-vertical_xx-small" title="Tier">Tier </div>
        </th>
        <th width="60%" scope="col">
          <div class="slds-truncate slds-p-vertical_xx-small" title="Units">Units</div>
        </th>
        <th width="15%" scope="col">
          <div class="slds-text-align_center slds-truncate slds-p-vertical_xx-small" title="List Price">List Price</div>
        </th>
        <th width="15%" scope="col">
          <div class="slds-text-align_center slds-truncate slds-p-vertical_xx-small" title="Pricing Type">Pricing Type</div>
        </th>
        <th scope="col" width="5%">
          <div class="slds-text-align_center slds-truncate slds-p-vertical_xx-small" title="Delete"></div>
        </th>
      </tr>
    </thead>
      <tbody>
        <template for:each={tierList} for:item="thisTierRecord" for:index="indexVar">
          <c-tier-helper key={thisTierRecord.Id} index-var={indexVar} pricing-type-options={pricingTypeOptions} 
                tier-list={tierList} 
                this-tier-record={thisTierRecord} ondeletetierevent={handleDeleteEvent}
                onsaveevent={handleSaveEvent} 
                onupdatetier={handleFieldChange}></c-tier-helper>
          </template>
      </tbody>
    </table>
  </template>

    <template if:true={showAdd}>
      <div style="width: 10%;" class="slds-p-bottom_small slds-p-top_small">
        <span onclick={handleNewRow} style="font-weight: bold; cursor: pointer;" class="slds-p-top_small slds-p-left_small">+Add Row</span>
      </div>
    </template>
    <template if:true={hasTiers}>
    <center class="slds-p-bottom_large">
      <button class="slds-button slds-button_neutral" onclick={navigateToRecordPage} title="Cancel">Cancel</button>
      <button class="slds-button slds-button_brand" disabled={hideSave} onclick={handleTierSave} title="Save">Save</button>
    </center>
  </template>
</template>
<template if:false={showTier}>
  <div class="slds-box slds-m-top_large slds-align_absolute-center slds-theme_shade slds-theme_alert-texture" style="width: 70%;">
       Tiers can be configured only for charges with pricing model volume or tiered
    </div>
</template>
    </div>

</template>