<!--
  @File Name          : fieldDiffRow.html
  @Description        : 
  @Author             : 
  @Group              : 
  @Last Modified By   : Ordway Labs
  @Last Modified On   : 10-14-2020
  @Modification Log   : 
  Ver       Date            Author      		    Modification
  1.0    3/14/2020        Initial Version
-->
<template>
  <div if:false={item.hasSameValue} style="color: red;">{fieldData}</div>
  <div if:true={item.hasSameValue} style="color: black;">{fieldData}</div>
</template>