.THIS .spinnerCss{
    position: sticky;
    text-align: center;
    margin-left: 50%;
}

.THIS .slds-card__header {
  all: unset;
}

.THIS .slds-spinner_brand.slds-spinner:before{
  background-color: #e36c26 !important;
}
.THIS .slds-spinner_brand.slds-spinner:after{
  background-color: #e36c26 !important;
}

.THIS .slds-spinner_brand .slds-spinner__dot-b:before{
  background-color: #e36c26 !important;
}

.THIS .slds-spinner_brand .slds-spinner__dot-a:before{
  background-color: #e36c26 !important;
}

.THIS .slds-spinner_brand .slds-spinner__dot-b:after{
  background-color: #e36c26 !important;
}

.THIS .slds-spinner_brand .slds-spinner__dot-a:after{
  background-color: #e36c26 !important;
}