<template>
  <div class="slds-page-header">
    <div class="slds-page-header__row">
      <div class="slds-page-header__col-title">
        <div class="slds-media">
          <div class="slds-media__figure">
            <lightning-icon icon-name={icon} size="medium"
              alternative-text="Tiers">
            </lightning-icon>
          </div>
          <div class="slds-media__body">
            <div class="slds-page-header__name">
              <div class="slds-page-header__name-title">
                <h1>
                  <span>Salesforce - Ordway</span>
                  <span class="slds-page-header__title slds-truncate" title="Tiers">Tiers</span>
                </h1>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="slds-grid slds-gutters slds-theme_default">
      <div class="slds-col slds-size_1-of-2">
        <span>
        <template if:true={hasSalesforceTier}>
          <lightning-datatable
            key-field="id"
            data={salesforceTableData}
            columns={SALESFORCE_TABLE_COLUMNS}
            resize-column-disabled	
            hide-checkbox-column>
        </lightning-datatable>
        </template>
        <template if:false={hasSalesforceTier}>
          <div class="slds-align_absolute-center">
            {NA_STRING}
          </div>
          
        </template>
        






        </span>
      </div>
      <div class="slds-col slds-size_1-of-2">
        <span>
          
          <template if:true={hasOrdwayTier}>
            <lightning-datatable
              key-field="OrdwayLabs__Tier__c"
              data={ordwayTableData}
              columns={ORDWAY_TABLE_COLUMNS}
              resize-column-disabled	
              hide-checkbox-column>
          </lightning-datatable>
          </template>
          <template if:false={hasOrdwayTier}>
            <div class="slds-align_absolute-center">
              {NA_STRING}
            </div>
            
          </template>
        </span>
      </div>
    </div>
    </div>
</template>