<template>
   <template if:true={showSpinner}>
      <lightning-spinner alternative-text="Loading" variant="Brand" title="Loading"></lightning-spinner>
   </template>
   <lightning-card>
   
      <div class="slds-box slds-align_absolute-center slds-theme_shade slds-theme_alert-texture" style="width: 50%;">
         <lightning-icon icon-name="utility:info" size="small" alternative-text="info" title="info"></lightning-icon>
          <p class="slds-p-left_small"> Requires View and Setup Configuration Permission</p>
        </div>
      <div class="slds-align_absolute-center">
         <div class="slds-grid slds-gutters">
            <div class="slds-col" >
               <lightning-combobox
                  name="object"
                  label="Object"
                  value={selectedObject}
                  placeholder="Select Object"
                  options={objectOptions}
                  onchange={handleObjectChange} >
               </lightning-combobox>
            </div>
            <div class="slds-col" >
               <lightning-combobox
                  name="field"
                  label="Field"
                  value={selectedField}
                  placeholder="Select Field"
                  options={objectFieldsList}
                  onchange={handleFieldChange} >
               </lightning-combobox>
            </div>
            <div class="slds-col buttonStyle">
               <lightning-button variant="brand" label="Add" title="Add" onclick={handleNewRow}></lightning-button>
            </div>
         </div>
      </div>
      <template if:true={showTable}>
         <div class="slds-p-top_small slds-align_absolute-center" style="width: 80%;">
            <table class="slds-table slds-table_bordered slds-table_col-bordered " role="grid">
               <thead>
                  <tr class="slds-line-height_reset slds-text-title_caps">
                     <th scope="col" width=12%;>
                        <div
                           class="slds-grid slds-grid--align-center slds-grid--vertical-align-center slds-has-flexi-truncate slds-p-around--x-small"
                           title="ColumnOrder">Column Order</div>
                     </th>
                     <th scope="col">
                        <div
                           class="slds-grid slds-grid--align-center slds-grid--vertical-align-center slds-has-flexi-truncate slds-p-around--x-small"
                           title="Field">Field</div>
                     </th>
                     <th scope="col">
                        <div
                           class="slds-grid slds-grid--align-center slds-grid--vertical-align-center slds-has-flexi-truncate slds-p-around--x-small"
                           title="Field">Visible</div>
                     </th>
                     <th scope="col">
                        <div
                           class="slds-grid slds-grid--align-center slds-grid--vertical-align-center slds-has-flexi-truncate slds-p-around--x-small"
                           title="Field">Editable</div>
                     </th>
                  </tr>
               </thead>
               <tbody>
                  <template for:each={ruleList} for:item="thisRuleRecord" for:index="indexVar">
                     <tr key={thisRuleRecord.Id}>
                        <td>
                           <lightning-input class="columnInputField" type="number" min="1" max={maxColumn}  value={thisRuleRecord.ColumnOrder} onchange={handleColumnOrderChange} data-indexvar={indexVar} name="ColumnOrder" 
                              variant="label-hidden"></lightning-input>
                        </td>
                        <td data-fieldname="Field"  style="text-align: center;" data-indexvar={indexVar}>
                           <lightning-formatted-text value={thisRuleRecord.MasterLabel} ></lightning-formatted-text>
                        </td>
                        <td style="text-align: center;"  >
                           <lightning-input type="checkbox" data-indexvar={indexVar} name="Visible" checked={thisRuleRecord.Visible} 
                              onchange={handleInlineCheckboxes} variant="label-hidden"></lightning-input>
                        </td>
                        <td style="text-align: center;">
                           <lightning-input type="checkbox" data-indexvar={indexVar} name="Edit" checked={thisRuleRecord.Edit} 
                              onchange={handleInlineCheckboxes} disabled={thisRuleRecord.isFormulaField} variant="label-hidden"></lightning-input>
                        </td>
                     </tr>
                  </template>
               </tbody>
            </table>
         </div>
         <div class="slds-align_absolute-center slds-p-around_small">
            <lightning-button variant="success" label="Update" title="Add" onclick={handleUpdate}></lightning-button>
         </div>
      </template>
   </lightning-card>
</template>