<template>
  <div class="slds-card__header slds-grid">
    <header class="slds-media slds-media_center slds-has-flexi-truncate">
      <div class="iconContainer slds-media__figure">
        <lightning-icon icon-name="utility:sync" alternative-text={BATCH_QUERY_CONFIGURATOR_TITLE} title={BATCH_QUERY_CONFIGURATOR_TITLE}></lightning-icon>
      </div>
      <div class="slds-media__body">
        <h2 class="slds-card__header-title">
          <span style="font-weight: bold;">{BATCH_QUERY_CONFIGURATOR_TITLE}</span>
        </h2>
      </div>
    </header>
  </div>

  <div class="slds-p-bottom_x-small">
    <div class="slds-grid slds-grid_pull-padded-medium">
      <div class="slds-col slds-p-horizontal_medium slds-size_1-of-6"></div>
      <div class="slds-col slds-p-horizontal_medium slds-size_2-of-6">
        <span>
          <lightning-combobox
              name="selectedObject"
              label="Object"
              value={selectedObject}
              placeholder="Select Object"
              onchange={handleComboboxValueChange}
              options={OBJECT_AVAILABLE_FOR_CONFIGURATION}>
            </lightning-combobox>
        </span>
      </div>
      <div class="slds-col slds-p-horizontal_medium slds-size_2-of-6">
        <span>
          <lightning-combobox
            name="selectedBatchApex"
            label="Action"
            value={selectedBatchApex}
            placeholder="Select Action"
            onchange={handleComboboxValueChange}
            disabled={disableBatchAction}
            options={batchClassActionOptions}>
        </lightning-combobox>
        </span>
      </div>
      <div class="slds-col slds-p-horizontal_medium slds-size_1-of-6"></div>
    </div>

    <template if:true={showRuleCriteriaConfigTable}>
      <div class="slds-p-around_small" style="width: 100% !important;">
        <table class="slds-table slds-table_cell-buffer slds-no-row-hover slds-table--fixed-layout" style={tableStyle}>
          <thead>
            <tr class="slds-line-height_reset slds-text-title_caps">
              <th scope="col" style={ruleHeadingStyle}>
                <div></div>
              </th>
              <th scope="col" style={fieldHeadingStyle}>
                <div title="Field">Field</div>
              </th>
              <th scope="col" style={operatorHeadingStyle}>
                <div title="Operator">Operator</div>
              </th>
              <th scope="col" style={valueHeadingStyle}>
                <div title="Value">Value</div>
              </th>
              <th scope="col" style={deleteHeadingStyle}>
              </th>
            </tr>
          </thead>
          <tbody>
            <template for:each={configuredRules} for:item="configuredRule" for:index="index">
              <c-batch-query-rule-configuration
                key={configuredRule.sn}
                rule-index={index}
                configuration-row={configuredRule}
                fields-options={objectFieldOptions}
                onerrorevent={childComponentError}
                onruleupdated={handleRuleUpdate}
                ondeleteruleevent={handleDeleteRule}
                object-field-data-type-map={objectFieldDataTypeMap}
               ></c-batch-query-rule-configuration>
              </template>
            </tbody>
        </table>
      </div>
      <div class="slds-p-around_x-small slds-clearfix" style="min-height: 5vh">
        <div class="slds-float--right">
          <span>
            <lightning-button
            variant="brand"
            label={ADD_NEW_RULE_CRITERIA_ROW_BUTTON_LABEL}
            title={ADD_NEW_RULE_CRITERIA_ROW_BUTTON_LABEL}
            icon-name="utility:add"
            disabled={disableAddCondition}
            onclick={addNewRuleConfigure}></lightning-button>
          </span>
        </div>
      </div>
      <div class="slds-p-horizontal_medium" style="min-height: 5vh;">
        <div>
          <lightning-input
            type="text"
            name="Filter Logic"
            data-id="filterlogicid"
            onchange={handleFilterLogicUpdate}
            value={filterLogic}
            placeholder="Enter custom filter logic"
            label="Filter logic"></lightning-input>
        </div>
      </div>
      <div class="slds-p-around_x-small slds-clearfix" style="min-height: 5vh">
        <div class="slds-float--right">
          <span>
            <lightning-button
            variant="brand"
            label={SAVE_BUTTON_LABEL}
            title={SAVE_BUTTON_LABEL}
            onclick={handleSave}></lightning-button>
          </span>
        </div>
      </div>
    </template>
  </div>
</template>