.THIS .slds-form-element__label {
    font-weight: 900;
}

/*adjusting help text position*/
.THIS .customIcon div{
  vertical-align: top !important;
}

.THIS .noSelectCustomClass{
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10+ and Edge */
  user-select: none; /* Standard syntax */
}