.THIS.c-container {
  background-color: #ffffff;
  border-radius: 4px;
  height: 100%;
}

.THIS .slds-form-element__label {
  font-weight: 900;
}

.THIS .slds-has-focus {
  text-decoration: none;
}

.THIS .slds-icon_small {
  width: 1rem !important;
}