<template>
  <template if:true={showSpinner}>
    <lightning-spinner alternative-text="Loading" variant="Brand" title="Loading"></lightning-spinner>
 </template>
  <lightning-layout multiple-rows="true">
    <lightning-layout-item size="12" >
      <template if:false={showSyncInProgress}>
        <article class="slds-card">
          <div class="slds-card__header slds-grid">
            <div class="slds-media__body">
              <img src={ordwayIcon} style="height:20px;margin-right:5px;">
              <lightning-button label="Sync to Ordway" title="Sync to Ordway" onclick={handleSync} disabled={disableSyncToOrdwayButton}></lightning-button>
              <lightning-button class="slds-p-left_xx-small" label="View in Ordway" title="View in Ordway" disabled={disableViewInOrdwayButton} onclick={handleView}></lightning-button>
              <template if:true={showRefresh}>
                <lightning-button class="slds-p-left_xx-small" label="Refresh" title="Refresh" onclick={handleRefresh}></lightning-button>
              </template>
            </div>
          </div>
    </article>
      </template>
    <template if:true={showSyncInProgress}>
      <lightning-card>
        <div>
          <lightning-spinner class="spinnerCss" alternative-text="Loading" variant="Brand" title="Sync In Progress"></lightning-spinner>
        <span class="slds-p-left_x-large" style="text-align: center;color: #e36c26;"> Sync In Progress... </span>
        </div>
      </lightning-card>
    </template>
  </lightning-layout-item>
  </lightning-layout>
</template>