.full_width{
  width: 100%;
}

.feature_update {
  border: 2px solid rgb(217, 219, 221);
}

.feature_update_item {
  height: 100%;
  display: flex!important;
  flex-flow: column;
  min-width: 550px;
  max-width: 650px;
}

.feature_update_description{
  background-color: white;
    flex: 1 1 auto;
}

.feature_update_item .description-truncate {
  max-height: 4.5rem;
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  padding-top: 0.75rem;
}

.feature_update_item .tile-body, .feature_update_item .tile-footer {
  background: rgb(255, 255, 255);
}