<template>
  <div class="full_width slds-p-vertical_x-small">
    <article class="feature_update feature_update_item">
      <div class="top slds-border_bottom slds-grid slds-grid_vertical-align-center slds-p-vertical_small slds-p-horizontal_medium">
        <div class="slds-col slds-size_4-of-4">
            <div class="title-truncate slds-text-heading_small"><span><strong>{featureTitle}</strong></span>
              <template if:true={isFeatureEnabled}>
                <span class="slds-p-left_small">
                  <lightning-icon icon-name="utility:success" variant="success" title="Feature is enabled" size="medium"></lightning-icon>
                </span>
              </template>
            </div>
            <div class="">
              <lightning-formatted-rich-text class="slds-rich-text-editor__output"><span></span></lightning-formatted-rich-text>
            </div>
        </div>
      </div>
      <div class="feature_update_description slds-grid">
        <div class="slds-col slds-align-middle">
            <div class="slds-grow slds-p-top_small slds-p-horizontal_large tile-body">
              <lightning-formatted-rich-text value={featureDescription}></lightning-formatted-rich-text>
            </div>
        </div>
      </div>
      <div class="slds-p-horizontal_large tile-category-pill slds-p-top_small">
        <div class="slds-grow slds-p-bottom_small tile-body"><span class="slds-badge slds-badge_lightest slds-text-title--caps">{featureType}</span></div>
      </div>
      <div class="slds-p-horizontal_large tile-footer">
        <div class="slds-p-bottom_x-small slds-clearfix">
          <div class="slds-float--right">
            <lightning-button variant="brand" disabled={isFeatureEnabled} onclick={handleEnableFeature} label={ENABLE_BUTTON_LABEL} title={ENABLE_BUTTON_LABEL} class="slds-m-left_x-small"></lightning-button>
          </div>
        </div>
      </div>
  </article>
  </div>
</template>