<template>
  <td width="10%" data-label="Tier" style="text-align: center;" class="slds-cell-wrap slds-text-align_center">
    {thisTierRecord.OrdwayLabs__Tier__c}
  </td>
  
  <td class="slds-cell-wrap">
    <div class="slds-grid slds-grid_vertical-align-center">
      <div class="slds-col slds-p-horizontal_small">
        <span class="modalFieldValue">From</span>
      </div>
      <div class="slds-col">
        <!-- <input type="number" data-indexvar={index} step="1" name="OrdwayLabs__StartingUnit__c" disabled class="slds-input inputClass" value={thisTierRecord.OrdwayLabs__StartingUnit__c} /> -->

        <lightning-input class="inputClass" data-indexvar={index} name="OrdwayLabs__StartingUnit__c" type="number" 
        value={thisTierRecord.OrdwayLabs__StartingUnit__c} disabled="true"
        variant="label-hidden" ></lightning-input>
      </div>
      <div class="slds-col" style="text-align: center;">
        <span>{UpToOrAndUp}</span>
      </div>
      <div class="slds-col">
        <!-- <input type="number" data-indexvar={index} step="1" title={indexVar} name="OrdwayLabs__EndingUnit__c" disabled={disableLastEndingColumn} class="slds-input inputClass" value={thisTierRecord.OrdwayLabs__EndingUnit__c} required/> -->

        <lightning-input data-indexvar={index} type="number" title={indexVar} data-id="tierInputField" class="endingValue" name="OrdwayLabs__EndingUnit__c" 
            value={thisTierRecord.OrdwayLabs__EndingUnit__c}  variant="label-hidden" onchange={handleFieldChange} 
            disabled={disableLastEndingColumn} required></lightning-input>
      </div>
    </div>
  </td>
  
  <td width="10%" data-label="List Price">
    <!-- <input type="number" step=".01" name="OrdwayLabs__ListPrice__c" required="" class="slds-input inputClass" value={thisTierRecord.OrdwayLabs__ListPrice__c} onchange={handleFieldChange}/> -->
    <lightning-input class="inputClass" type="number" data-indexvar={index} min="0.0" data-id="priceInputField" step=".01" 
            name="OrdwayLabs__ListPrice__c" value={thisTierRecord.OrdwayLabs__ListPrice__c} 
            variant="label-hidden" required onchange={handleFieldChange}></lightning-input>
  </td> 
  <td width="15%" style="text-align: center; vertical-align: middle;" data-label="Pricing Type" class="slds-cell-wrap slds-border_right">
    <lightning-combobox
              class="inputClass"
              name="OrdwayLabs__PricingType__c" 
              label=""
              data-indexvar={index}
              variant="label-hidden"
              value={thisTierRecord.OrdwayLabs__PricingType__c}
              placeholder="Select Pricing Type"
              options={pricingTypeOptions}
              onchange={handleFieldChange} >
    </lightning-combobox>
  </td>
  <template if:true={showDeleteIcon}>
    <td width="10%" data-label="Delete" class="slds-cell-wrap slds-text-align_center" >
      <lightning-icon data-indexvar={indexVar} icon-name="action:delete" style="cursor: pointer;" title={index} onclick={handleDelete} alternative-text="Delete" size="x-small"></lightning-icon>
    </td> 
  </template>
</template>