:host {
  display: table-row;
}

.THIS .modalFieldValue {
  font-size: 14px;
  color: #333333;
  line-height: 16px;
  text-align: right;
  overflow-wrap: break-word;
}

.inputClass {
  margin-top: 5px;
  margin-bottom: 5px;
  width: 100%;
  text-align: center !important;
}