<!--
  @description       : 
  @author            : 
  @group             : 
  @last modified on  : 07-31-2020
  @last modified by  : 
  Modifications Log 
  Ver   Date         Author   Modification
  1.0   07-31-2020      Initial Version
-->
<template>
  <template if:true={showSpinner}>
    <lightning-spinner alternative-text="Loading" variant="Brand" title="Loading"></lightning-spinner>
  </template>

  <div class="slds-p-top_small slds-align_absolute-center" style={tableStyle}>
    <template if:true={entitesAvailable}>
      <template if:true={ordwayEntityRuleRecords}>

        <article class="slds-card slds-card_boundary">
          <div class="slds-card__header slds-grid">
            <header class="slds-media slds-media_center slds-has-flexi-truncate">
              <div class="slds-media__figure">
                <lightning-icon icon-name="standard:entity_milestone"></lightning-icon>
              </div>
              <div class="slds-media__body">
                <h2 class="slds-card__header-title">
                  <span style="font-weight: bold;">{lightningCardName}</span>

                </h2>
              </div>
              <div class="slds-no-flex">
                <lightning-button label="Add Entity Rule" title="Add Entity Rule" onclick={handleNewEntity}>
                </lightning-button>
              </div>
            </header>
          </div>
          <div class="slds-card__body">
            <table class="slds-table slds-table_cell-buffer slds-no-row-hover slds-table--fixed-layout" role="grid">
              <thead>
                <tr class="slds-line-height_reset slds-text-title_caps">
                  <th scope="col">
                    <div
                      class="slds-grid slds-grid--align-center slds-grid--vertical-align-center slds-has-flexi-truncate slds-p-around--x-small"
                      title="Object">Object</div>
                  </th>
                  <th scope="col">
                    <div
                      class="slds-grid slds-grid--align-center slds-grid--vertical-align-center slds-has-flexi-truncate slds-p-around--x-small"
                      title="Field">Field</div>
                  </th>
                  <th scope="col">
                    <div
                      class="slds-grid slds-grid--align-center slds-grid--vertical-align-center slds-has-flexi-truncate slds-p-around--x-small"
                      title="Value">Value</div>
                  </th>
                  <th scope="col">
                    <div
                      class="slds-grid slds-grid--align-center slds-grid--vertical-align-center slds-has-flexi-truncate slds-p-around--x-small"
                      title="Ordway Entity">Ordway Entity</div>
                  </th>
                  <th scope="col" style="width: 5%;">
                  </th>
                </tr>
              </thead>
              <tbody>
                <template for:each={ordwayEntityRuleRecords} for:item="thisEntityRule" for:index="indexVar">

                  <c-ordway-entity-rule-row key={thisEntityRule.Id} this-entity-rule={thisEntityRule}
                    account-fields={accountFields} ordway-entities={ordwayEntityOption}
                    opportunity-fields={opportunityFields} index-var={indexVar}
                    onupdateentityrule={handleUpdateEntityRecord} ondeleteentityevent={handleDeleteEvent}
                    ordway-entity-rule-records-to-delete={ordwayEntityRuleRecordsToDelete}></c-ordway-entity-rule-row>

                </template>
              </tbody>
            </table>

          </div>
          <footer class="slds-card__footer">
              <lightning-button variant="brand" label="Save" title="Save" onclick={handleValidateInput}
                class="slds-m-left_x-small"></lightning-button>
          </footer>
        </article>
      </template>
    </template>
  </div>
</template>