<template>
  <template if:true={spinnerBoolean}>
    <div class="slds-spinner_container">
      <lightning-spinner alternative-text="Loading" variant="brand" size="large"></lightning-spinner>
    </div>
  </template>
  <template if:true={renderForm}>
    <div class="slds-align_absolute-center">
      <div class="slds-grid slds-grid_vertical">
        <div class="slds-col">
          <span>
            <c-migration-assistant-item
              feature-unique-key={PLAN_PICKER_FEATURE_UNIQUE_KEY}
              feature-title={PLAN_PICKER_FEATURE_TITLE}
              feature-description={PLAN_PICKER_FEATURE_DESCRIPTION}
              feature-type={PLAN_PICKER_FEATURE_RELEASE_TYPE}
              is-feature-enabled={isPlanPickerVersionTwoEnabled}
              onenablefeature={enablePlanPickerReleasedFeature}>
            </c-migration-assistant-item>
          </span>
        </div>
        <template if:false={isQuoteAssistantEnabled}>
          <div class="slds-col">
            <span>
              <c-migration-assistant-item
                feature-unique-key={QUOTE_LINE_TIER_FEATURE_UNIQUE_KEY}
                feature-title={QUOTE_LINE_TIER_FEATURE_TITLE}
                feature-description={QUOTE_LINE_TIER_FEATURE_DESCRIPTION}
                feature-type={QUOTE_LINE_TIER_FEATURE_RELEASE_TYPE}
                onenablefeature={enableQuoteLineItemTierReleasedFeature}
                is-feature-enabled={isQuoteAssistantEnabled}>
            </c-migration-assistant-item>
            </span>
          </div>
        </template>
      </div>
    </div>
  </template>
</template>