<!--
  @description       : 
  @author            : 
  @group             : 
  @last modified on  : 04-20-2021
  @last modified by  : 
  Modifications Log 
  Ver   Date         Author   Modification
  1.0   07-31-2020      Initial Version
-->
<template>
   <td style={tdStyle}>
    <lightning-combobox
      variant="label-hidden" 
      name="Object"
      label="Object"
      class="entityRuleinputField"
      value={thisEntityRule.OrdwayLabs__Object__c}
      data-fieldname="OrdwayLabs__Object__c" 
      placeholder="Select Object"
      dropdown-alignment="auto"
      options={objectOptions}
      onchange={handleInputValueChange}
      required></lightning-combobox>
  </td>
   <td style={tdStyle}>
    <lightning-combobox
      variant="label-hidden" 
      name="Field"
      label="Object Field"
      dropdown-alignment="auto"
      class="entityRuleinputField"
      data-fieldname="OrdwayLabs__Field__c" 
      value={thisEntityRule.OrdwayLabs__Field__c}
      placeholder="Select Field"
      options={fieldOptions}
      disabled={isObjectPopulated}
      onchange={handleInputValueChange}
      required></lightning-combobox>
  </td>

   <td style={tdStyle}>
    <lightning-input
    variant="label-hidden" 
    name="Value"
    label="Object Field"
    class="entityRuleinputField"
    dropdown-alignment="auto"
    data-fieldname="OrdwayLabs__Value__c" 
    value={thisEntityRule.OrdwayLabs__Value__c}
    placeholder="Enter Value"
    onchange={handleInputValueChange}
    required></lightning-input>
  </td>

   <td style={tdStyle}>
    <lightning-combobox
      variant="label-hidden" 
      name="Ordway Entity"
      label="Ordway Entity"
      dropdown-alignment="auto"
      class="entityRuleinputField"
      value={thisEntityRule.OrdwayLabs__EntityID__c}
      data-fieldname="OrdwayLabs__EntityID__c" 
      placeholder="Select Ordway Entity"
      options={ordwayEntitiesOptions}
      onchange={handleInputValueChange}
      required></lightning-combobox>
  </td>
  <td style={tdStyle}>
    <lightning-icon 
      icon-name="utility:close" 
      
      data-indexvar={indexVar} 
      onclick ={handleDelete} 
      size ="xx-small"
      alternative-text="Delete Entity Setting" 
      title="Delete Entity Setting"
      style="cursor: pointer;"></lightning-icon>
  </td>
</template>